USE [TTP]
GO
/****** Object:  Table [dbo].[KPAlgorithmType]    Script Date: 07.10.2019 10:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPAlgorithmType](
	[KPAlgorithmTypeId] [int] NOT NULL,
	[KPAlgorithmTypeName] [varchar](128) NOT NULL
) ON [PRIMARY]
GO
